<footer class="footer bg-dark py-3 text-center mt-auto">
    <div class="container">
        <p class="text-bg-dark">Created by Süha Tanrıverdi</p>
        <p class="text-bg-dark">Genesis Corp&trade; All Rights Reserved.</p>
        <span class="text-bg-dark">&copy;YelpCamp 2023</span>
    </div>
</footer>